<!-- <li><a href="{% url 'order_url' element.id %}">{{ element.title }}</a> </li> -->
{% load static %}
<a href="{% url 'order_url' element.id %}"> 
    <div class="order__card">
       
        <div class="order__card-container">
                <!-- <div class="order__card-image"></div> -->
            <img src="{% static element.src %}" class="order__card-image"/>
            <div class="order__card-info">
                <div class="order__card-item order__card-title">{{element.title}}</div>
                <div class="order__card-item order__card-price">от {{element.rates.0.price}}</div>
            </div>
        </div>


    </div>
</a>